# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- none

stages:

- stage: Test
  displayName: Test
  jobs:
    - job: Test
      pool:
        name: Default
      steps:
      - script: echo Test
        displayName: 'Prepare Testing'

      - task: PowerShell@2
        inputs:
          filePath: $(System.DefaultWorkingDirectory)\tosca_cloud_execution_client.ps1
          arguments: >
            -BaseUrl "https://$(ToscaTenant).my.tricentis.com"
            -ClientId "$(ToscaClientId)"
            -ClientSecret "$(ToscaClientSecret)"
            -TokenUrl "$(ToscaAuthURL)"
            -SpaceId "$(ToscaWorkspaceID)"
            -PlaylistName "Smoke"
            -StartNewRun
            -MonitorRun
            -PollingInterval 10
            -MaxPollingTimeout 7200
            -RetrieveResults
            -JUnitResultsFile "C:\Tricentis\Tosca\Results\results.xml"
        displayName: 'Execute Tosca Cloud Playlist and Upload Results'

      - task: PowerShell@2
        displayName: 'Convert JUnit results to UTF-8'
        condition: always()
        inputs:
          targetType: 'inline'
          script: |
            $source = "C:\Tricentis\Tosca\Results\results.xml"
            $dest = "C:\Tricentis\Tosca\Results\results_utf8.xml"
            [IO.File]::WriteAllText($dest, (Get-Content -Raw $source), [Text.Encoding]::UTF8)

      - task: PublishTestResults@2
        displayName: 'Publish Test Results'
        condition: always()
        inputs:
          testResultsFiles: 'C:\Tricentis\Tosca\Results\results_utf8.xml'
          testResultsFormat: 'JUnit'
